.div{
    text-align: center;
    color: #fff;
    background-color: #000;
    margin-top: 5vh;
    margin-left: 5vw;
    margin-right: 5vw;
    padding-bottom: 5vh;
    padding-top: 2vh;
    border-radius: 10px;
}

.h1{
    text-align: center;
    border-bottom: 2px solid #fff;
    padding: 2vw;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* grid-template-rows: 2fr 1fr; */
}

.add{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #212121; 
    margin: 2vh;
    margin-left: 3vw;
    padding: 10vh 2vw 10vh 2vw;
    border-radius: 10px;
    cursor: pointer;
}

.one{
    background: #212121;
    margin: 2vh;
    margin-left: 3vw;
    margin-right: 3vw;
    padding: 8vh;
    border-radius: 10px;
}

.grid1{
    display: grid;
    grid-template-columns: auto auto;
}

.two{
    background: #212121;
    margin: 2vh;
    margin-left: 3vw;
    margin-right: 1.5vw;
    padding: 9vh 10vw 9vh 10vw;
    border-radius: 10px;
}

.three{
    background: #212121;
    margin: 2vh;
    margin-left: 1.5vw;
    margin-right: 3vw;
    padding: 9vh 10vw 9vh 10vw;
    border-radius: 10px;
}